USE [master]
GO
/****** Object:  Database [TechnicalTest]    Script Date: 8/6/2022 11:50:02 PM ******/
CREATE DATABASE [TechnicalTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechnicalTest', FILENAME = N'C:\Users\nonemee\TechnicalTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechnicalTest_log', FILENAME = N'C:\Users\nonemee\TechnicalTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechnicalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechnicalTest]
GO
USE [TechnicalTest]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/6/2022 11:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[userPassword] [varchar](50) NULL,
	[userEmail] [varchar](50) NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
